﻿<div class="container" ng-controller="bookManagerCtrl as bookManager">
    
    <h1 class="registerHeader">
        <i class="glyphicon glyphicon-book "></i> Book manager
    </h1>

    @*<div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn btn-primary registerLibrarianBtn" ng-click="userManager.activeLibrarianRegistration()">Register librarian</button>
            </div>
        </div>*@

    <div ng-if="!bookManager.isBookEditActive && !bookManager.isBookAddActive">

        <div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn btn-primary" ng-click="bookManager.createBook()">Add new book</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h4 class="bookGenreDropdownTitle">Filter by genre:</h4>
                <select class="form-control" ng-options="genre.name for genre in bookManager.genreSelection.bookGenres track by genre.value" ng-model="bookManager.genreSelection.selectedGenre"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h4 class="bookGenreDropdownTitle">...or find book by title:</h4>
                <input class="form-control bookTitleSearchBox" ng-model="bookManager.wantedBookTitle" ng-model-options="{ debounce: 1000 }" placeholder="Book title..." />
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Iso</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Author</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in bookManager.booksPage" ng-mouseover="bookManager.selectBook(book.id)" ng-style=" book.id != bookManager.selectedBookId? {'background-color': 'white'} : {'background-color':'#dff0d8'}" style="cursor: pointer;">
                    <td>{{book.title}}</td>
                    <td>{{bookManager.getBookGenreNameByValue(book.genre)}}</td>
                    <td>{{book.iso}}</td>
                    <td>{{book.description.substring(0, 20)}}</td>
                    <td>{{book.quantity}}</td>
                    <td>{{book.authorName}} {{book.authorSurname}}</td>
                    <td><span class="glyphicon glyphicon-edit" ng-click="bookManager.editBook(book)" style="cursor: pointer;"></span></td>
                    <td><span class="glyphicon glyphicon-remove" ng-click="bookManager.removeBook(book)" style="cursor: pointer;"></span></td>
                </tr>
            </tbody>
        </table>

        <div class="row" ng-if="!bookManager.isSearchByTitleActive">
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary" ng-click="bookManager.pageNumber = bookManager.pageNumber - 1"><span class="glyphicon glyphicon-arrow-left"></span></button>
            </div>
            <div class="col-sm-1 paginationInfo">
                {{bookManager.pageNumber}} / {{bookManager.totalPagesNumber}}
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary" ng-click="bookManager.pageNumber = bookManager.pageNumber + 1"><span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>

    </div>

    <div ng-if="bookManager.isBookEditActive && !bookManager.isBookAddActive">

        <div class="row">
            <h3>Title</h3>
            <div class="col-xs-6">
                <input class="form-control" ng-model="bookManager.currBook.title"/>
            </div>
        </div>
        <div class="row">
            <h3>Genre</h3>
            <div class="col-xs-6">
                <select class="form-control" ng-options="genre.name for genre in bookManager.genreSelection.bookGenres track by genre.value" ng-model="bookManager.currBookGenre"></select>
            </div>
        </div>
        <div class="row">
            <h3>ISO number</h3>
            <div class="col-xs-6">
                <input class="form-control" ng-model="bookManager.currBook.iso"/>
            </div>
        </div>
        <div class="row">
            <h3>Description</h3>
            <div class="col-xs-6">
                <input class="form-control" ng-model="bookManager.currBook.description"/>
            </div>
        </div>
        <div class="row">
            <h3>Quantity</h3>
            <div class="col-xs-6">
                <input class="form-control" ng-model="bookManager.currBook.quantity"/>
            </div>
        </div>
        <div class="row">
            <h3>Author</h3>
            <div class="col-xs-6">
                <select class="form-control" ng-options="author.names for author in bookManager.authors track by author.id" ng-model="bookManager.currAuthor"></select>
            </div>
        </div>
        <br/>
        <div class="row">
            <h3>Front cover</h3>
            <div class="col-xs-6">
                <img ng-src="api/Graphic/{{bookManager.currBook.graphicId}}" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-1">
                <button type="button" class="btn btn-primary" ng-click="bookManager.isBookEditActive = false">Cancel</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-primary" ng-click="bookManager.updateBook() ">Save changes</button>
            </div>
        </div>


    </div>

    <div ng-if="!bookManager.isBookEditActive && bookManager.isBookAddActive">
        
        <div class="row">
            <h3>Title</h3>
            <div class="col-xs-6">
                <input class="form-control" ng-model="bookManager.currBook.title"/>
            </div>
        </div>
        <div class="row">
            <h3>Genre</h3>
            <div class="col-xs-6">
                <select class="form-control" ng-options="genre.name for genre in bookManager.genreSelection.bookGenres track by genre.value" ng-model="bookManager.currBookGenre"></select>
            </div>
        </div>
        <div class="row">
            <h3>ISO number</h3>
            <div class="col-xs-6">
                <input class="form-control" ng-model="bookManager.currBook.iso"/>
            </div>
        </div>
        <div class="row">
            <h3>Description</h3>
            <div class="col-xs-6">
                <input class="form-control" ng-model="bookManager.currBook.description"/>
            </div>
        </div>
        <div class="row">
            <h3>Quantity</h3>
            <div class="col-xs-6">
                <input class="form-control" ng-model="bookManager.currBook.quantity"/>
            </div>
        </div>
        <div class="row">
            <h3>Author</h3>
            <div class="col-xs-6">
                <select class="form-control" ng-options="author.names for author in bookManager.authors track by author.id" ng-model="bookManager.currAuthor"></select>
            </div>
        </div>
        <br/>
        <div class="row">
            <h3>Front cover</h3>
            <div class="col-xs-6">
                <img ng-src="api/Graphic/{{bookManager.currBook.graphicId}}"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-6">
                <div class="fileUpload btn btn-primary">
                    <span>Upload</span>
                    <input class="upload" type="file" name="bookCover" onchange="angular.element(this).scope().bookManager.uploadBookCover(this.files)"/>
                </div>
            </div>
        </div>
        <hr/>
        <br/>
        <div class="row">
            <div class="col-xs-1">
                <button type="button" class="btn btn-primary" ng-click="bookManager.isBookAddActive = false">Cancel</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-primary" ng-click="bookManager.addBook() ">Add</button>
            </div>
        </div>
    </div>

</div>