﻿<div class="container" ng-controller="usersCheckoutsCtrl as userCheckouts">

    <div class="sk-folding-cube-background" ng-show="userCheckouts.isLoading">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>

    <h1 class="registerHeader" ng-if="myCheckouts.checkouts.length > 0">
        <i class="glyphicon glyphicon-check "></i> Users checkouts
    </h1>

    <h4 class="bookGenreDropdownTitle">Filter by checkout status:</h4>
    <select class="form-control bookGenreDropdownList" ng-options="status.name for status in userCheckouts.checkoutStatusSelection.checkoutStatuses track by status.value" ng-model="userCheckouts.checkoutStatusSelection.selectedStatus"></select>

    <div ng-if="userCheckouts.checkoutsPage.length > 0">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Username</th>
                <th>Checkout date</th>
                <th>Expiration date</th>
                <th>Status</th>
                <th>Change status</th>
                <th ng-if="userCheckouts.checkoutStatusSelection.selectedStatus.value == '4'">Send notification</th>
                <th>Remove</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="checkout in userCheckouts.checkoutsPage" ng-mouseover="userCheckouts.selectCheckout(checkout.id)" ng-style=" checkout.id != userCheckouts.selectedCheckoutId? {'background-color': 'white'} : {'background-color':'#dff0d8'}" style="cursor: pointer;">
                <td>{{checkout.bookTitle}}</td>
                <td>{{checkout.username}}</td>
                <td>{{checkout.checkoutDate| date:'yyyy/MM/dd'}}</td>
                <td>{{checkout.expirationDate| date:'yyyy/MM/dd'}}</td>
                <td>{{userCheckouts.getStatusNameByValue(checkout.status)}}</td>
                <td><span class="glyphicon glyphicon-share-alt" ng-click="userCheckouts.changeCheckoutStatus(checkout)" ng-if="checkout.status < 3"></span></td>
                <td ng-if="checkout.status == 4"><span class="glyphicon glyphicon-info-sign" ng-click="userCheckouts.sendNotification(checkout.id)"></span></td>
                <td><span class="glyphicon glyphicon-remove" ng-click="userCheckouts.removeCheckout(checkout)"></span></td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary" ng-click="userCheckouts.pageNumber = userCheckouts.pageNumber - 1"><span class="glyphicon glyphicon-arrow-left"></span></button>
            </div>
            <div class="col-sm-1 paginationInfo">
                {{userCheckouts.pageNumber}} / {{userCheckouts.totalPagesNumber}}
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary" ng-click="userCheckouts.pageNumber = userCheckouts.pageNumber + 1"><span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>

    </div>
    <div ng-if="userCheckouts.checkoutsPage.length == 0">
        <h2>No checkouts found</h2>
    </div>
</div>