﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Awesome online library</title>
    <link rel="shortcut icon" href="~/Content/Images/LogHeado.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/libraries")
    @Scripts.Render("~/bundles/home")
    @Scripts.Render("~/bundles/admin")
    @Scripts.Render("~/bundles/librarian")
    @Scripts.Render("~/bundles/user")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" ng-controller="loginCtrl as login">
                <div ng-init="login.getUserInfo()"></div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a ng-href="#/"><img src="~/Content/Images/Logo.png" style="height: 50px;"/></a>
                </div>
            </div>
            <div class="navbar-collapse collapse" ng-controller="authScopeGetter as auth">

                <ul class="nav navbar-nav " ng-show="!auth.scope.isUserLibrarian() && !auth.scope.isUserAdmin()">
                    <li><a href="#/bookCatalog">Book catalog</a></li>
                </ul>

                <ul class="nav navbar-nav " ng-show="!auth.scope.isUserLibrarian() && !auth.scope.isUserAdmin() && auth.scope.user">
                    <li><a href="#/me/checkouts">My checkouts</a></li>
                </ul>

                <ul class="nav navbar-nav " ng-show="auth.scope.isUserLibrarian()">
                    <li><a href="#/bookManager">Book manager</a></li>
                </ul>

                <ul class="nav navbar-nav " ng-show="auth.scope.isUserLibrarian()">
                    <li><a href="#/usersCheckouts">Users checkouts</a></li>
                </ul>

                <ul class="nav navbar-nav " ng-show="auth.scope.isUserAdmin()">
                    <li><a href="#/userManager">User manager</a></li>
                </ul>

                <ul class="nav navbar-nav " ng-show="auth.scope.isUserAdmin()">
                    <li><a href="#/globalNotification">Global notification</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" ng-hide="auth.scope.user && auth.scope.user.isLoggedIn">
                    <li><a href="#/register">Register</a></li>
                    <li><a href="#/login">Login</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" ng-show="auth.scope.user && auth.scope.user.isLoggedIn">
                    <li><a>Hello {{auth.scope.user.username}}</a></li>
                    <li ng-controller="logoutStaticCtrl as logout"><a href="#/" ng-click="logout.logout()">Logout</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - Awesome Online Library</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
