﻿<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 30px;">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/Images/deadpoolBackground.jpg"/>
            <div class="carousel-caption">
                <h3>New Deadpool comics are available now!</h3>
            </div>
            </div>

        <div class="item">
            <img src="~/Content/Images/book.jpg"/>
            <div class="carousel-caption">
                <h3 style="margin-top: -318px;">09/12/2015 - Awesome Online Library amnesty day! </h3>
            </div>
        </div>

        <div class="item">
            <img src="~/Content/Images/library.jpg"/>
            <div class="carousel-caption">
                <h3 style="margin-top: -318px;">We introduce our new AOL building!</h3>
            </div>
        </div>
    </div>


    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br/>

<hr>
<div class="row">
    <div class="col-sm-4">
        <a href="#" class=""><img src="~/Content/Images/alice.png" class="img-responsive"></a>
    </div>
    <div class="col-sm-8">
        <h3 class="title">Alice in Wonderland</h3>
        <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members</p>
        <p>Happy Birthday Alice! To celebrate 150 years of the publication of Alice’s Adventures in Wonderland, this exhibition explores how Alice has captured our imaginations for so many years.</p>

        <p class="text-muted">Presented by <a href="#">Ellen Richey</a></p>

    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-4">
        <a href="#" class=""><img src="~/Content/Images/hart-poetry.jpg" class="img-responsive"></a>
    </div>
    <div class="col-sm-8">
        <h3 class="title">The Josephine Hart Poetry Hour: Philip Larkin</h3>
        <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014  1:30 PM</p>
        <p>
            The latest instalment of The Josephine Hart Poetry Hour is devoted to Philip Larkin, to whom a plaque will be unveiled in Poets Corner, Westminster Abbey, on 2 December. This wonderful series of events was created by Josephine Hart over ten years ago and continue in her memory. They present some of our greatest poets read by leading actors and performers, following an expert introduction. Readers at this event will be Neil Dudgeon, Deborah Findlay and Freddie Fox and the introducer will be Alan Yentob.
        </p><p class="text-muted">Presented by <a href="#">Mike Braatz</a>, <a href="#">Jonathan Eber</a></p>

    </div>
</div>
<hr><div class="row">
    <div class="col-sm-4">
        <a href="#" class=""><img src="~/Content/Images/writer.png" class="img-responsive"></a>
    </div>
    <div class="col-sm-8">
        <h3 class="title">The two winners of the 2016 Eccles British Library Writer in Residence Awards are announced</h3>
        <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members</p>
        <p>The Eccles Centre at the British Library is delighted to announce that William Atkins, author and editor and Alison MacLeod, novelist and short story writer are the joint winners of the 2016 Eccles British Library Writer in Residence Award.</p>

        <p class="text-muted">Presented by <a href="#">Ellen Richey</a></p>

    </div>
</div>
