﻿<div ng-controller="loginCtrl as login">

    <h1 class="pageHeader">
        <i class="glyphicon glyphicon-user "></i> Login
    </h1>

    <div class="container">
        <form>
            <div class="row">
                <div class="col-xs-6">
                    <input class="form-control" placeholder="Username" ng-model="login.username" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <input type="password" class="form-control" placeholder="Password" ng-model="login.password" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary" ng-click="login.login()">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
