﻿<div ng-controller="registerCtrl as register">

    <h1 class="pageHeader">
        <i class="glyphicon glyphicon-user "></i> Register
    </h1>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <input class="form-control" placeholder="Username" ng-model="register.username"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-6">
                <input class="form-control" placeholder="Email" ng-model="register.email" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-6">
                <input type="password" class="form-control" placeholder="Password" ng-model="register.password"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-6">
                <input type="password" class="form-control" placeholder="Confirm password" ng-model="register.confirmPassword"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn btn-primary" ng-click="register.register()">Register</button>
            </div>
        </div>
    </div>
</div>
