﻿<div class="container" ng-controller="globalNotificationCtrl as globalNotification">

    <h1 class="registerHeader">
        <i class="glyphicon glyphicon-envelope "></i> Global notification
    </h1>
    <br/>
    <div class="row">
        <div class="col-xs-8">
            <input class="form-control" ng-model="globalNotification.message" placeholder="Notification..."/>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-default" ng-click="globalNotification.sendGlobalNotification()">Send notification</button>
        </div>
    </div>
</div> 