﻿<div class="container" ng-controller="userManagerCtrl as userManager">

    <div ng-if="!userManager.isRegistrationActive">

        <h1 class="registerHeader">
            <i class="glyphicon glyphicon-edit "></i> User manager
        </h1>

        <div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn btn-primary registerLibrarianBtn" ng-click="userManager.activeLibrarianRegistration()">Register librarian</button>
            </div>
        </div>

        <table class="table adminUsersList">
            <thead>
            <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Is Locked?</th>
                <th>Lock/Unlock</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in userManager.usersPage" ng-style=" user.isLocked? {'background-color': '#f2dede'} : {'background-color':'#dff0d8'}">
                <td>{{user.userName}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.isLocked}}</td>
                <td ng-if="user.isLocked"><span class="glyphicon-lock" ng-click="userManager.unlockUser(user)" style="cursor: pointer;"></span></td>
                <td ng-if="!user.isLocked"><span class="glyphicon-lock" ng-click="userManager.lockUser(user)" style="cursor: pointer;"></span></td>
                <td><span class="glyphicon glyphicon-remove" ng-click="userManager.removeUser(user)" style="cursor: pointer;"></span></td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary" ng-click="userManager.pageNumber = userManager.pageNumber - 1"><span class="glyphicon glyphicon-arrow-left"></span></button>
            </div>
            <div class="col-sm-1 paginationInfo">
                {{userManager.pageNumber}} / {{userManager.totalPagesNumber}}
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary" ng-click="userManager.pageNumber = userManager.pageNumber + 1"><span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>
    </div>

    <div ng-if="userManager.isRegistrationActive">

        <h1 class="registerHeader" style="margin-bottom: 50px;">
            <i class="glyphicon glyphicon-book "></i> Register librarian
        </h1>
        
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <input class="form-control" placeholder="Username" ng-model="userManager.newLibrarian.username" />
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-6">
                    <input type="password" class="form-control" placeholder="Password" ng-model="userManager.newLibrarian.password" />
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-6">
                    <input type="password" class="form-control" placeholder="Confirm password" ng-model="userManager.newLibrarian.confirmPassword" />
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-1">
                    <button type="button" class="btn btn-primary" ng-click="userManager.isRegistrationActive = false">Cancel</button>
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary" ng-click="userManager.registerLibrarian() ">Register</button>
                </div>
            </div>
        </div>
    </div>

</div>