﻿<div class="container" ng-controller="bookCatalogCtrl as bookCatalog">

    <h1 class="registerHeader">
        <i class="glyphicon glyphicon-book "></i> Book catalog
    </h1>

    <div class="row">
        <div class="col-xs-6">
            <h4 class="bookGenreDropdownTitle">Filter by genre:</h4>
            <select class="form-control" ng-options="genre.name for genre in bookCatalog.genreSelection.bookGenres track by genre.value" ng-model="bookCatalog.genreSelection.selectedGenre"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4 class="bookGenreDropdownTitle">...or find book by title:</h4>
            <input class="form-control bookTitleSearchBox" ng-model="bookCatalog.wantedBookTitle" ng-model-options="{ debounce: 1000 }" placeholder="Book title..." />
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Genre</th>
            <th>Iso</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Author</th>
            <th>Book info</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in bookCatalog.booksPage" ng-mouseover="bookCatalog.selectBook(book.id)" ng-style=" book.id != bookCatalog.selectedBookId? {'background-color': 'white'} : {'background-color':'#dff0d8'}" style="cursor: pointer;">
                <td><img style="height: 80px;" ng-src="api/Graphic/{{book.graphicId}}" /></td>
                <td style="line-height: 80px; font-weight: bold;">{{book.title}}</td>
                <td style="line-height: 80px">{{bookCatalog.getBookGenreNameByValue(book.genre)}}</td>
                <td style="line-height: 80px">{{book.iso}}</td>
                <td style="line-height: 80px">{{book.description.substring(0, 20)}}</td>
                <td style="line-height: 80px">{{book.quantity}}</td>
                <td style="line-height: 80px">{{book.authorName}} {{book.authorSurname}}</td>
                <td style="line-height: 80px"><a ng-href="#/book/{{book.id}}"><span class="glyphicon glyphicon-info-sign" style="cursor: pointer;"></span></a></td>
            </tr>
        </tbody>
    </table>

    <div class="row" ng-if="!bookCatalog.isSearchByTitleActive">
        <div class="col-sm-1">
            <button type="button" class="btn btn-primary" ng-click="bookCatalog.pageNumber = bookCatalog.pageNumber - 1"><span class="glyphicon glyphicon-arrow-left"></span></button>
        </div>
        <div class="col-sm-1 paginationInfo">
            {{bookCatalog.pageNumber}} / {{bookCatalog.totalPagesNumber}}
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary" ng-click="bookCatalog.pageNumber = bookCatalog.pageNumber + 1"><span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    </div>

</div>
