﻿<div class="container" ng-controller="bookInfoCtrl as bookInfo">
    
    <div class="sk-folding-cube-background" ng-show="bookInfo.isLoading">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>

    <div class="row bookInfoHeader">
        <div class="col-xs-4">
            <img ng-src="api/Graphic/{{bookInfo.book.graphicId}}"/>
        </div>

        <div class="col-xs-6">
            <h1>{{bookInfo.book.title}}</h1>
            <h3>by {{bookInfo.book.authorName}} {{bookInfo.book.authorSurname}}</h3>
            <br/>
            <hr/>
            <h4><strong>ISO:</strong> {{bookInfo.book.iso}}</h4>
            <hr />
            <h4><strong>Genre:</strong> {{bookInfo.getBookGenreNameByValue(bookInfo.book.genre)}}</h4>
            <hr />
            <h4><strong>Quantity:</strong> {{bookInfo.book.quantity}}</h4>
            <hr />
        </div>
    </div>

    <br/>

    <div class="row">
        <h2>Description</h2>
        <p>{{bookInfo.book.description}}</p>
    </div>

    <hr/>

    <div class="row" ng-if="bookInfo.book.quantity > 0">
        <h3>
            <p style="color: #34AF50">This book is available <span class="glyphicon glyphicon-ok"></span></p>
        </h3>
        <p>
            To check out this book click the button below. We inform that checkout time is 30 days. For each day of delay, user will be charged with $0.30.
        </p>
    </div>

    <div class="row" ng-if="bookInfo.book.quantity == 0">
        <h3>
            <p style="color: #E41010">This book is currently unavailable <span class="glyphicon glyphicon-remove"></span></p>
        </h3>
    </div>

    <div class="row" ng-if="bookInfo.book.quantity > 0">
        <button class="btn btn-success" ng-click="bookInfo.checkoutBook()">Check out book</button>
    </div>

    <br/>
    <hr>

    <div class="row" ng-if="bookInfo.similarBooks.length > 0">
        <h2>People who chose this book, had also read:</h2>
        <br/>
        <div class="col-xs-4" ng-repeat="book in bookInfo.similarBooks">
            <a ng-href="#/book/{{book.id}}"><img ng-src="api/Graphic/{{book.graphicId}}" /></a>
            <strong>
                <p>
                    {{book.title}}
                </p>
            </strong>
            <p>by {{book.authorNames}}</p>
        </div>
    </div>
</div>