﻿<div class="container" ng-controller="myCheckoutsCtrl as myCheckouts">

    <h1 class="registerHeader" ng-if="myCheckouts.checkouts.length > 0">
        <i class="glyphicon glyphicon-check "></i> My checkouts
    </h1>

    <div ng-if="myCheckouts.checkouts.length > 0">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Checkout date</th>
                <th>Expiation date</th>
                <th>Status</th>
                <th>Cancel request</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="checkout in myCheckouts.checkouts" ng-mouseover="myCheckouts.selectCheckout(checkout.id)" ng-style=" checkout.id != myCheckouts.selectedCheckoutId? {'background-color': 'white'} : {'background-color':'#dff0d8'}" style="cursor: pointer;">
                <td>{{checkout.bookTitle}}</td>
                <td>{{checkout.checkoutDate}}</td>
                <td>{{checkout.expirationDate}}</td>
                <td>{{myCheckouts.getStatusNameByValue(checkout.status)}}</td>
                <td><span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="myCheckouts.removeCheckout(checkout)" ng-if="checkout.status == 1"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="!myCheckouts.checkouts || myCheckouts.checkouts.length == 0">
        <h1>You have no active checkouts now <span class="glyphicon glyphicon-thumbs-down"></span></h1>
    </div>
</div>